@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=League+Spartan&family=Moon+Dance&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Sedgwick+Ave+Display&family=Tilt+Prism&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(245, 245, 220, 0.858);
}
header {
    background: #E3E6F3;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    height: 70px;
}
header .logo {
    float: left;
}
header .social-links {
    display: flex;
    margin-top: 10px;
    margin-left: 1150px;
}
.social-links a{
    padding: 20px;
    height: 20px;
    width: 20px;
}
nav {
    color: #fff;
    text-align: center;
    margin-left: 1000px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
sidebar{
    float: left;
    width: 20%;
    background: #eee;
    padding: 10px;
    height: 885px;
}
main {
    float: left;
    width: 60%;
    padding: 10px;
    margin-left: 100px;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
p{
    font-family: 'Tilt Neon', sans-serif;
}
.box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}
footer {
    clear: both;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}